#white{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    position: absolute;
}
#blue
{
    height: 300px;
    width: 100px;
    background-color: blue;
    position: absolute;
}
#red{
    height: 300px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
}