*
{
    padding: 0px;
    margin: 0px;
}
body
{
background-color: aqua;
display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
}
.box
{
    height: 400px;
    width: 600px;
    background-color: aliceblue;
}
h1
{
    padding: 50px;
    text-align: center;
}